container_commands:
  11_delete_existing_static:
    command: "sudo rm -rf /var/app/current/static/"
  12_create_static_dir:
    command: "sudo mkdir -p /var/app/current/static"
  13_chnage_owner:
    command: "sudo chown -R webapp:webapp /var/app/current/static"
  14_collect_static:
    command: "source /var/app/venv/*/bin/activate  && python3 manage.py collectstatic --noinput"
option_settings:
  aws:elasticbeanstalk:application:environment:
    DJANGO_SETTINGS_MODULE: ads_travel_planning.settings
  aws:elasticbeanstalk:environment:proxy:staticfiles:
    /static: static
  aws:elasticbeanstalk:container:python:
    WSGIPath: ads_travel_planning.wsgi:application
    NumProcesses: 4
    NumThreads: 4