container_commands:
  11_delete_existing_static:
    command: "sudo rm -rf /var/app/static/"
  12_create_static_dir:
    command: "sudo mkdir -p /var/app/static"
  13_chnage_owner:
    command: "sudo chown -R webapp:webapp /var/app/static"
  14_collect_static:
    command: "source /var/app/venv/*/bin/activate  && python3 manage.py collectstatic --noinput"
option_settings:
  aws:elasticbeanstalk:application:environment:
    DJANGO_SETTINGS_MODULE: ads_travel_planning.settings
  aws:elasticbeanstalk:container:python:
    WSGIPath: ads_travel_planning.wsgi:application
    NumProcesses: 4
    NumThreads: 4

files:
    "/etc/nginx/conf.d/elasticbeanstalk/0099_static.conf":
        mode: "000644"
        owner: root
        group: root
        content: |
            multiline
            location /static {
                alias /var/app/current/static;
                access_log off;
            }